*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  /*Fuentes de Google Fpnts*/
    
 
 }
 
 
                                                       /* HEADER */
 header{
     height: 100px;
     background-color: grey;
     padding: 0 50px;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 
 .logo{
     color: aquamarine;
     font-weight: 200;
     text-transform: uppercase;
 }
 
 
 .menu a{
     color: white;
     text-decoration: none;
     padding: 0 10px;
     transition: 0.5s;
 }
 
 
 .mostrar,
 .esconder{
 font-size: 30px;
 cursor: pointer;
 display: none;
 transition: 0.5s;
 }
 
 
 .mostrar{
     order: 0;
 }
 
 
 .menu a:hover,
 .mostrar:hover,
 .esconder :hover{
     color: greenyellow;
 }
 
 
 .check{
    display: inline;
 }
 
 
/* MAIN */
 
  /* MAIN - BANNER */                                                        
 #banner{
     padding: 0 50px;
     background-image: url(FondoMain.png);
     height: 50vh;
     background-size: cover;
     background-position: center;
     background-color: transparent;
 }                                                      
 #banner::before{
     content: "";
     background: rgba(77, 77, 96, 0.6);
     position: absolute;
     width: 100%;
     height: 50vh;
     left: 0;
 }
 
 
 .contenido-banner{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .contenido-banner h3{
     font-weight: 600;
     padding: 10px 0;
 }
    
 .contenido-banner h3 span{
     font-size: 30px;
     font-weight: 400;
     padding: 10px 0;
 }
    
 .boton-comienzo{
     color: white;
     text-decoration: none;
     padding: 20px 30px;
     border: 1px solid greenyellow;
     align-self: baseline;
     transition: all 0.5s;
 }
 
 
 .boton-comienzo:hover{
     background: green;
 }
 
 
                                  /* MAIN - NOSOTROS */                                                      
 #nosotros{
     padding: 50px 50px;
     display: flex;    
     flex-wrap: wrap;
     text-align: center;
     background-color: rgb(226, 252, 233);
     flex: 4;
 }
 
 
 #nosotros img{
     border-radius: 100%;
 }
 
 
 #nosotros div{
     padding: 30px 80px;
 }
 
 
 #nosotros div h4{
    color: rgb(18, 9, 66);
    font-size: 18px;
 }
 
 
 #nosotros div p{
     color: grey;
     font-size: 20px;
     margin: 15px 0;
  }
 
 
  .Ver-perfil{
     display: inline-block;
     text-decoration: none;
     color: black;
     padding: 10px 30px;
     border: 2px solid green;
     border-radius: 30pc;
     margin-top: 15px;
     transition: all 0.5s;
  }
 
 
  .Ver-perfil:hover{
     background: greenyellow;
     color: rgb(78, 5, 5);
  }
 
 
                                   /* MAIN - ICONOS */  
 
 
 #iconos{
      background-color: beige;
  }
 
 
  #iconos h4{
     padding: 40px;
     font-weight: bolder;
     font-size: 20px;  
     text-align: center;
  }
 .contenido-iconos{
     display: flex;
     justify-content: space-around;
     padding: 50px;
 }
 
 
 .contenido-iconos a{
     text-decoration: none;
     font-size: 28px;
     width: 60px;
     height: 60px;
     line-height: 60px;
     text-align: center;
     background: rgb(13, 46, 18);
     color: lightblue;
     border-radius: 20%;
     box-shadow: 2px 2px 2px;
     transition: all .5s ease-in-out;
 }
 
 
 .contenido-iconos a:hover{
     transform: scale(1.5);
 }


 
 
                                                       /* FOOTER */
 
 
 .Nuestras_Clases{
     padding: 80px 50px;
     text-align: center;
  }
 
 
  .Nuestras_Clases iframe{
     padding: 30px 30px;
     text-align: center;
     width: 40%;
     height: 40vh;
  }
 
 
 
 
  .pie_contacto{
     padding: 10 20px;
     background-image: url(ModoPago.jpg);
     height: 30vh;
     background-size: cover;
     background-position: center;
     background-color: transparent;
  }
 h1{
    text-align: center;
 }
 .maps{
    padding: 10px;
    text-align: center;
    height: 100%;
 }

 .container{
    width: 100vw;
    height:  100vh;
 }
 .Descripcion{
    text-wrap: wrap;

    text-size-adjust:10rem;
 }

/* ---------------------------------------------------------------------------- */  
/* --------------------------- PAGINA DE SERVICIOS ---------------------------- */   
/* ---------------------------------------------------------------------------- */                
 #ubicacion{
    padding: 20 5px;
    background-image: url(FondoMain.png);
 /*   background-color: rgb(226, 252, 233); */
    text-align: center;
    font-weight: bold;
    background-size: cover;
    background-position: center;
}  

.Descripcion{
    padding: 20px 10px;
    background-color: rgb(226, 252, 233);
    color: black;
    text-decoration: dotted;
    font-weight: bold;
    font-size: 120%;
}
/* ---------------------------------------------------------------------------- */  
/* ---------------------------------------------------------------------------- */  

                                                       /* RESPONSIVE */        
                                                      
 @media(max-width: 768px){
     .mostrar,
     .esconder{
         display: block;
     }
     .menu{
         position: fixed;
         width: 100%;
         height: 100vh;
         background: grey;
         right: -100%;
         top: 0;
         text-align: center;
         padding: 100px 0px;
         z-index: 100;
         transition: 0.8s;
     }
 
     
    
     .menu a{
         display: block;
         padding: 20px;
         }
 
 
     .esconder{
         position: absolute;
         top: 40px;
         right: 40px;
     }    
 
 
     #check:checked ~ .menu{
         right: 0;
 
 
     }
 
 
     .contenido-iconos{
         padding: 50px 50px;
         min-width: 700px;
         flex-direction: column;
         text-align: center;
 
 
 
 
                               /* NOSOTROS */
  }
 
 @media(max-width: 1500px){
     #nosotros{
         flex-direction: column;
     }
    
     }
 
 
 
 
     }
h1{
    padding: 30px;
}
    .section_api{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1px;
        
        
        
                                        
     }
     .section_api img{
        
        border-color: rgba(0, 0, 0, 0.938);
        border-width: 4px;
        border-style: ridge;
        
    }
     /* VER SI COLOCAR ESTO */
     .datos:active{

        
        transform: scale(1.2);
        
    }

     .section_api img:hover{
        transform: scale(1.08);
        border-color: rgba(227, 8, 8, 0.926);
        transition-duration: 0.8s;
        
    }
     .datos{
        display: flex;
     }

     .datos img{
        width: 100%;
        align-items: center;
        justify-content: center;
        
     }

     article{
        padding: 5px;
        box-shadow: 0 0 1px #111;
     }
