* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*Fuentes de Google Fpnts*/


}


/* HEADER */
header {
    
    height: 100px;
    background-color: rgb(0, 0, 0);
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: rgb(255, 255, 255);
    font-weight: 200;
    text-transform: uppercase;
}


.menu a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.5s;
}


.mostrar,
.esconder {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.5s;
}


.mostrar {
    order: 0;
}


.menu a:hover,
.mostrar:hover,
.esconder :hover {
    color: #0077b6;
}


.check {
    display: inline;
}


/* MAIN */

/* MAIN - BANNER */
#banner {
    
    padding: 0 50px;
    background-image: url(FondoMain.png);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

#banner::before {
    content: "";
    background: rgba(77, 77, 96, 0.6);
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}


.contenido-banner {
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.contenido-banner h3{
    font-weight: 400;
    padding: 10px 0;
    font-size: 1.7vw;
}
   
.contenido-banner h3 span{
    font-size: 2vw;
    font-weight: 600;
    padding: 10px 0;

}




/* MAIN - NOSOTROS */
#nosotros {
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #0077b6;
    flex: 4;
    justify-content: space-around;
}



#nosotros img {
    border-radius: 100%;
    max-width: 100%;
    width: 250px;
    }


#nosotros div {
    padding: 30px 80px;
    
}


#nosotros div h4 {
    color: rgb(18, 9, 66);
    font-size: 18px;   

}


#nosotros div p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 15px 0;
}


.Ver-perfil {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30pc;
    margin-top: 15px;
    transition: all 0.5s;
}


.Ver-perfil:hover {
    background: rgb(0, 0, 0);
    }


/* MAIN - ICONOS */


#iconos {
    background-color: rgb(0, 0, 0);
}


#iconos h4 {
    padding: 40px;
    font-weight: bolder;
    font-size: 20px;

 }
 
 
 #nosotros div h4{
     color: rgb(255, 255, 255);
     font-size: 20px;
     margin: 15px 0;
  }
 
 
  .Ver-perfil{
     display: inline-block;
     text-decoration: none;
     color: rgb(255, 255, 255);
     padding: 10px 30px;
     border: 2px solid rgb(0, 0, 0);
     border-radius: 30pc;
     margin-top: 15px;
     transition: all 0.5s;
  }
 
 
  .Ver-perfil:hover{
     background: rgb(0, 0, 0);
     
  }
 
 
                                   /* MAIN - ICONOS */  
 
 
 #iconos{
      background-color: rgb(0, 0, 0);
  }
 
 
  #iconos h4{
     color:#ffffff;
     padding: 40px;
     font-weight: bolder;
     font-size: 20px;  
     text-align: center;
  }

 
                                                       /* FOOTER */
 
 

 h1{

    text-align: center;
}

footer{
    width: 100%;
}

.contenido-iconos {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}


.contenido-iconos a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(255, 255, 255);
    color: #0077b6;
    border-radius: 20%;
    box-shadow: 2px 2px 2px;
    transition: all .5s ease-in-out;
}


.contenido-iconos a:hover {
    transform: scale(1.5);
}




/* FOOTER */


.Descripcion {
    text-wrap: wrap;

    text-size-adjust: 10rem;
}

/* ---------------------------------------------------------------------------- */
/* --------------------------- PAGINA DE SERVICIOS ---------------------------- */
/* ---------------------------------------------------------------------------- */
#ubicacion {
    padding: 20 5px;
    background-color: #0077b6; 
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    background-size: cover;
    background-position: center;
}

.Descripcion {
    padding: 20px 10px;
    background-color: #0077b6;
    color: rgb(255, 255, 255);
    text-decoration: dotted;
    font-weight: bold;
    font-size: 120%;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* RESPONSIVE */
        /* NOSOTROS */
    
    
        

 
        @media(max-width: 1000px) {
        
            #nosotros {
                flex-direction: column;
            }

            #banner {
    
                padding: 0 50px;
                background-image: url(FondoMain.png);
                height: 50vw;
                background-size: cover;
                background-position: center;
                background-color: transparent;
            }
            
            #banner::before {
                content: "";
                background: rgba(77, 77, 96, 0.6);
                position: absolute;
                width: 100%;
                height: 50vw;
                left: 0;
            }
    }

    @media(max-width: 768px) {

        .mostrar,
        .esconder {
            display: block;
        }
    
        .menu {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgb(0, 0, 0);
            right: -100%;
            top: 0;
            text-align: center;
            padding: 100px 0px;
            z-index: 100;
            transition: 0.8s;
        }

        .menu a {
            display: block;
            padding: 20px;
        }

        .esconder {
            position: absolute;
            top: 40px;
            right: 40px;
        }
    
    
        #check:checked~.menu {
            right: 0;
        }
    
        .contenido-iconos {
            position:relative;
            padding: 50px 50px;
            flex-direction: column;
            text-align: center;
        }
    
    }

h1 {
    padding: 30px;
}

.h2-prod{
    text-align: center;
}

.section_api {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;




}

.section_api img {

    border-color: rgba(0, 0, 0, 0.938);
    border-width: 4px;
    border-style: ridge;

}


.datos:active {
    transform: scale(1.2);

}

.section_api img:hover {
    transform: scale(1.08);
    border-color: red;
    transition-duration: 0.8s;

}

.datos {
    display: flex;
}

.datos img {
    width: 100%;
    align-items: center;
    justify-content: center;

}

article {
    padding: 5px;
    box-shadow: 0 0 1px #111;
}

/* estilo para el formulario de contacto */
.etiquetaFcontacto {
    font-family: sans-serif;
    font-size: 16px;
}

.contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 20px;
}

.campo {
    margin-bottom: 10px;
}

.error-message {
    color: red;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    background-color: #0077b6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

.required {
    color: red;
}



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*--*-*- CRUD -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

table tr td{
    vertical-align: middle;
}

td button{
    margin: 5px;
}

td button i{
    font-size: 20px;
}


.modal-header{
    background: #0d6efd;
    color: #fff;
}

.modal-body form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.modal-body form .imgholder{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.imgholder .upload{
    position: absolute;
    bottom: 0;
    left: 10;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload i{
    color: #fff;
    font-size: 35px;
}

.imgholder:hover .upload{
    display: flex;
}

.imgholder .upload input{
    display: none;
}

.modal-body form .inputField{
    flex-basis: 68%;
    border-left: 5px groove blue;
    padding-left: 20px;
}

form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

form .inputField > div label{
    font-size: 20px;
    font-weight: 500;
}

#userForm form .inputField > div label::after{
    content: "*";
    color: red;
}

form .inputField > div input{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid blue;
}

.modal-footer .submit{
    font-size: 18px;
}


#readData form .inputField > div input{
    color: #000;
    font-size: 18px;
}
